apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: ecommerce-servicemonitor
  namespace: monitoring
  labels:
    release: prometheus
spec:
  selector:
    matchExpressions:
    - key: app
      operator: In
      values:
      - auth
      - cart
      - order
      - product
  namespaceSelector:
    matchNames:
    - default
  endpoints:
  - port: http
    path: /metrics
    interval: 30s
